main{
    border:2px solid black;
width:75%;
margin:20px auto ;
background-color: antiquewhite;
padding: 10px;
}
 h1{
text-align: center;
color: black;
 }   
 #caso{text-align: center;}
#solucion{
    height: 200px;
    border: 1px solid green;
    width: 75%;
    margin:auto;
    background-color: white;
    font-size: 30px;
}